
<div th:replace="fragments/basePage :: basePage"></div>
<style>
  img{
    height: 150px;
    width: 150px;
  }
  .left{
      width: 50%;
      text-align: center;
  }
  .right{
      width: 50%;
      text-align: center;
  }
  .main{
      margin: 1rem 2rem;
      display: flex;
  }

  .layui-form-label{
      width: 50px;
  }
</style>
<div  xmlns:th="http://www.thymeleaf.org" class="layui-form" >
    <div class="main" id="userInfo">
<!--        <div class="left"> -->
<!--            <img src="https://s1.ax1x.com/2022/10/31/xT9Nh4.png" />-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">用户名</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="username"  value="'+data.username+'"   placeholder="openid" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">uuid</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="uuid"  value="'+data.uuid+'"   placeholder="uuid" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">openid</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="openid"  value="'+data.openid+'"   placeholder="openid" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="right">-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">电话</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="phone"  placeholder="phone" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">性别</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="gender"  placeholder="gender" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">最近登陆</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="login_time"  placeholder="create_time" autocomplete="off" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="button" lay-submit lay-filter="form-submit-add" value="新增" class="layui-btn">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
  <br> <br> <br>
</div>

<script>
  var customer_id = null;
  var type = null;
  layui.use(['form','table'], function(){
    var $ = layui.$
    ,form = layui.form
    var table = layui.table;
    customer_id = getParam('customer_id');
    type = getParam('type');
    loadUserInfo(customer_id)


    form.on('submit(form-submit)', function(data){
      var field = data.field;
      var url = "/web/order/detail/update"
      ajaxPost(url, JSON.stringify(field), function (data) {
          layer.msg(data.msg, {time: 3000, icon: 1});
      });
    });

    form.on('submit(form-submit-add)', function(data){
      var field = data.field;
      var url = "/web/order/detail/add"
      ajaxPost(url, JSON.stringify(field), function (data) {
          layer.msg(data.msg, {time: 3000, icon: 1});
      });
      console.info(field)
    });

  })

  function loadUserInfo(id){
      var jsonData={}
      jsonData.customer_id= id;
      var params = JSON.stringify(jsonData);
      ajaxPost(user_user_detail, params, function (data) {
          var str = '';
          var data = data.data
          if( data===null ||data==="") return
          str ='  <div class="left"> \n' +
              '            <img src="'+data.avatarUrl+'" />  <hr>\n' +
              '            <div class="layui-form-item">\n' +
              '                <label class="layui-form-label">用户名</label>\n' +
              '                <div class="layui-input-inline">\n' +
              '                    <input readonly type="text" name="username"  value="'+data.username+'"   placeholder="openid" autocomplete="off" class="layui-input">\n' +
              '                </div>\n' +
              '            </div>\n' +
              '            <div class="layui-form-item">\n' +
              '                <label class="layui-form-label">uuid</label>\n' +
              '                <div class="layui-input-inline">\n' +
              '                    <input readonly type="text" name="uuid"  value="'+data.uuid+'"   placeholder="uuid" autocomplete="off" class="layui-input">\n' +
              '                </div>\n' +
              '            </div>\n' +
              '            <div class="layui-form-item">\n' +
              '                <label class="layui-form-label">openid</label>\n' +
              '                <div class="layui-input-inline">\n' +
              '                    <input readonly type="text" name="openid"  value="'+data.openid+'"   placeholder="openid" autocomplete="off" class="layui-input">\n' +
              '                </div>\n' +
              '            </div>\n' +
              '        </div>\n' +
              '        <div class="right">\n' +
              '            <div class="layui-form-item">\n' +
              '                <label class="layui-form-label">电话</label>\n' +
              '                <div class="layui-input-inline">\n' +
              '                    <input  readonly type="text" name="phone"    value="'+data.phone+'"  placeholder="phone" autocomplete="off" class="layui-input">\n' +
              '                </div>\n' +
              '            </div>\n' +
              '            <div class="layui-form-item">\n' +
              '                <label class="layui-form-label">性别</label>\n' +
              '                <div class="layui-input-inline">\n' +
              '                    <input  readonly type="text" name="gender"  value="'+data.gender+'"    placeholder="gender" autocomplete="off" class="layui-input">\n' +
              '                </div>\n' +
              '            </div>\n' +
              '            <div class="layui-form-item">\n' +
              '                <label class="layui-form-label">最近登陆</label>\n' +
              '                <div class="layui-input-inline">\n' +
              '                    <input  readonly type="text" name="login_time"  value="'+data.login_time+'"    placeholder="create_time" autocomplete="off" class="layui-input">\n' +
              '                </div>\n' +
              '            </div>\n' +
              '            <div class="layui-form-item">\n' +
              '                <div class="layui-input-inline">\n' +
              '                    <input type="button" lay-submit lay-filter="form-submit-add" value="新增" class="layui-btn">\n' +
              '                </div>\n' +
              '            </div>\n' +
              '        </div>'
          $("#userInfo").html(str)
      });


  }
</script>
