<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headerPage :: headerPage"></div>
<title>优惠券发放管理</title>
<style>

</style>
<body >
<div >
  <div >
    <div th:replace="fragments/headerSide :: headerSide"></div>
  </div>
  <div class="col col-lg-2" style="    background: white;">
    <div th:replace="fragments/sidebarPage :: sidebarPage"></div>
  </div>
  <div class="col col-lg-10">
    <div class="layui-card">
      <div class="layui-card-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb">
          <a lay-href="">产品</a>
          <a><cite>优惠券发放管理</cite></a>
        </div>
      </div>
      <div class="layui-card-body">

          <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
              <ul class="layui-tab-title">
                  <li onClick="window.location.href='/view/coupons'">用户优惠券领取</li>
                  <li  class="layui-this" >优惠券发放</li>
                  <li onClick="window.location.href='/view/coupons/rule'" >优惠规则</li>
              </ul>
              <div class="layui-tab-content">
                  <div class="layui-tab-item">
                  </div>
                  <div class="layui-tab-item layui-show">
                      <div class="layui-fluid">
                          <div class="layui-form    layuiadmin-card-header-auto">
                              <div class="layui-form-item">
                                  <div class="layui-inline">
                                      <input type="text" name="keyword" placeholder="模糊查询" autocomplete="off" class="layui-input">
                                  </div>
                                  <div class="layui-inline">
                                      <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="searchBtn">
                                          <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                          <table id="tableview" lay-filter="tableview"></table>
                          <script type="text/html" id="toolbar">
                              <div class="layui-btn-container">
                                  <button class="layui-btn btn-batch  layui-btn-sm layui-btn-danger " data-type="batchdel">批量删除</button>
                                  <button class="layui-btn btn-batch  layui-btn-sm" data-type="add">新增</button>
                              </div>
                          </script>


                          <script type="text/html" id="tableTool">
                              <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
                              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                          </script>

                      </div>
                  </div>
                  <div class="layui-tab-item"></div>
              </div>
          </div>


      </div>

    </div>
  </div>



  </div>
</div>


</body>
<div th:replace="fragments/footerPage :: footerPage"></div>

<script type="text/javascript">
  var ItemId = "Item3_1";

  var table
  var form
  /*<![CDATA[*/
  layui.use(['table','layer'], function(){
      table = layui.table;
      form = layui.form;
      form.on('submit(searchBtn)', function(data){
          var field = data.field;
          table.reload('tableview', {
            page:1
            ,where: field
          });
    });

      //触发radio单选
      form.on('radio(statusKey)', function(data){
          var jsonData={}
          table.reload('tableview', {
              page:1
              ,where: jsonData
          });
      });

      table.render({
           elem: '#tableview'
          ,url: coupon_batch_queryAll //模拟接口
          ,toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
          ,defaultToolbar: ['filter', 'exports', 'print']
          ,title: '优惠券发放管理'
          ,cols: [
            [
                 {type: 'checkbox', fixed: 'left'}
                ,{field: 'batch_id', width: 100, title: 'id',  align: 'center', sort: true}
                ,{field: 'batch_name', title: '批次名称', align: 'center', width:130}
                ,{field: 'coupon_name', title: '劵名称', align: 'center',  minWidth: 130}
                ,{field: 'rule_id', title: '规则ID',  align: 'center', minWidth: 130, sort: true}
                ,{field: 'total_count', title: '总数量',  align: 'center', minWidth: 130, sort: true}
                ,{field: 'assign_count', title: '已发放劵数量', align: 'center',  minWidth: 200, sort: true}
                ,{field: 'used_count', title: '已使用劵数量', align: 'center',  minWidth: 200, sort: true}
                ,{field: 'create_time', title: '创建时间', align: 'center',  minWidth: 200, sort: true}
                ,{field: 'modified_time', title: '修改时间', align: 'center',  minWidth: 200, sort: true}
                ,{title: '操作', minWidth: 200, align: 'center', fixed: 'right', toolbar: '#tableTool'}
            ]
          ]
          ,page: true
          ,limit: 30
          ,limits: [10, 20, 30, 50, 100,150,200]
          ,text: '暂无数据'
    });




    table.on('tool(tableview)', function(obj){
      var data = obj.data;
      var id = data.batch_id
      if(obj.event === 'del'){
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function(value, index){
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            var ids=new Array(),jsonData={};
            ids.push(id);
            jsonData["ids"] = ids;
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            ajaxPost(coupon_batch_delete, params, function (data) {
                layer.msg(data.msg, {time: 3000, icon: 1});
                layui.table.reload('tableview'); //重载表格
            });
            layer.close(index);
          });
        });
      }else  if(obj.event === 'edit'){
          layer.open({
              type: 2
              ,area: ['50%', '80%']
              ,title: '优惠券【'+data.batch_id+'】详情'
              ,shade: 0.6 //遮罩透明度
              ,maxmin: true //允许全屏最小化
              ,anim: 0 //0-6的动画形式，-1不开启
              ,content: coupon_batch_form_view+'?batch_id='+id+'&type=edit'
              ,success: function(layero, index){
              }
              ,cancel: function(){
                  layui.table.reload('tableview'); //重载表格
              }
              ,end : function(){
              }
          });
      }
    });


    var active = {
        add: function () {
            layer.open({
                type: 2
                ,area: ['50%', '80%']
                ,title: '新增优惠券批次信息'
                ,shade: 0.6 //遮罩透明度
                ,maxmin: true //允许全屏最小化
                ,anim: 0 //0-6的动画形式，-1不开启
                ,content: coupon_batch_form_view+'?batch_id=-1&type=view'
                ,success: function(layero, index){
                }
                ,cancel: function(){
                    layui.table.reload('tableview'); //重载表格
                }
                ,end : function(){
                }
            });
        },
      batchdel: function () {
        var checkStatus = table.checkStatus('tableview')
                , checkData = checkStatus.data;
        var ids = new Array(), jsonData = {};
        if (checkData.length === 0) {
          return layer.msg('Please select data');
        } else {
          for (var i = 0; i < checkData.length; i++) {
            ids.push(checkData[i].batch_id);
          }
          jsonData["ids"] = ids;
        }
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function (value, index) {
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            layer.close(index);
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            ajaxPost(coupon_batch_delete, params, function (data) {
                layer.msg(data.msg, {time: 3000, icon: 1});
                layui.table.reload('tableview'); //重载表格
            });
          });
        });
      }
    }

    $('.layui-btn.btn-batch').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  })
  /*]]>*/


</script>
</html>