<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doggy.mapper.CustomerMapper">
    <insert id="insertCustomerInfo"   parameterType="customerInfo" useGeneratedKeys="true" keyProperty="id" >
        insert into DoggyPets.customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="Token != null">
                Token,
            </if>
            <if test="avatarUrl != null">
                avatarUrl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid},
            </if>
            <if test="openid != null">
                #{openid},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="Token != null">
                #{Token},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl},
            </if>
        </trim>
    </insert>

    <update id="updateCustomerInfo">
        update DoggyPets.customer
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="Token != null">
                Token = #{Token},
            </if>
            <if test="avatarUrl != null">
                avatarUrl = #{avatarUrl},
            </if>
            <if test="points !=  -1">
                points = points + #{points},
            </if>
        </set>
        where openid = #{openid} or id = #{id}
    </update>

    <update id="updateCustomerPoints">
        update DoggyPets.customer
        <set>
            <if test="points !=  -1">
                points = points + #{points},
            </if>
        </set>
        where openid = #{openid} or id = #{id}
    </update>










    <delete id="deleteAddress">
        delete from DoggyPets.Customer_Address
        <where>
            1=1
            <if test="customer_addr_id != null">
                and  customer_addr_id=#{customer_addr_id}
            </if>
        </where>
    </delete>

    <select id="queryCustomerInfo" resultType="com.doggy.entity.CustomerInfo">
        select * from DoggyPets.customer
        <where>
            1=1
            <if test="openid != null">
                and  openid=#{openid}
            </if>
        </where>
    </select>
    <select id="queryCustomerByid" resultType="com.doggy.entity.CustomerInfo">
        select * from DoggyPets.customer
        <where>
            1=1
            <if test="id != null">
                and  id=#{id}
            </if>
        </where>
    </select>


    <select id="pageQueryUserData" resultType="com.doggy.entity.CustomerInfo">
        select * from DoggyPets.customer
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(username,'')
               , IFNULL(phone,'')
                ,IFNULL(uuid,'')
                ,IFNULL(gender,'')
                ,IFNULL(points,''))
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
        limit #{start},#{rows}
    </select>
    <select id="pageQueryUserCount" resultType="java.lang.Integer">
        select count(1) from DoggyPets.customer
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(username,'')
                ,IFNULL(phone,'')
                ,IFNULL(uuid,'')
                ,IFNULL(gender,'')
                ,IFNULL(points,''))
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
    </select>

    <select id="pageQueryAddressCount" resultType="java.lang.Integer">
        select count(1) from DoggyPets.Customer_Address
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(username,'')
                , IFNULL(phone,'')
                ,IFNULL(province,'')
                ,IFNULL(city,'')
                ,IFNULL(district,''))
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
    </select>
    <select id="pageQueryAddressData" resultType="com.doggy.entity.CustomerAddress">
        select * from DoggyPets.Customer_Address
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(username,'')
                , IFNULL(phone,'')
                ,IFNULL(province,'')
                ,IFNULL(city,'')
                ,IFNULL(district,''))
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
        limit #{start},#{rows}
    </select>
</mapper>
