<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doggy.mapper.SysAttrSpecMapper">


    <insert id="insertAssociatedAtrrGroup">
        insert into DoggyPets.pms_attr_attrgroup_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attr_id != null">
                attr_id,
            </if>
            <if test="attr_group_id != null">
                attr_group_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attr_id != null">
                #{attr_id},
            </if>
            <if test="attr_group_id != null">
                #{attr_group_id},
            </if>
        </trim>
    </insert>
    <insert id="insertAttrGroup">
        insert into DoggyPets.pms_attr_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attr_group_name != null">
                attr_group_name,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="descript != null">
                descript,
            </if>
            <if test="catelog_id != null">
                catelog_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attr_group_name != null">
                #{attr_group_name},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
            <if test="attr_group_name != null">
                #{attr_group_name},
            </if>
            <if test="catelog_id != null">
                #{catelog_id},
            </if>
        </trim>
    </insert>


    <delete id="deleteCoupons">
       delete from DoggyPets.coupon
        <where>
            1=1
            <if test="coupon_id !=null">
               and coupon_id = #{coupon_id}
            </if>
            <if test="batch_id !=null">
                and batch_id = #{batch_id}
            </if>
        </where>
    </delete>


    <update id="updateCoupon">
        update DoggyPets.coupon
        <set>
            <if test="customer_id != null">
                customer_id = #{customer_id},
            </if>
            <if test="batch_id != null">
                batch_id = #{batch_id},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="order_id != null">
                order_id = #{order_id},
            </if>
            <if test="received_time != null">
                received_time = #{received_time},
            </if>
            <if test="used_time != null and used_time != 'null'">
                used_time = #{used_time},
            </if>
        </set>
        where coupon_id = #{coupon_id}
    </update>




    <update id="updateAttrGroup">
        update DoggyPets.pms_attr_group
        <set>
            <if test="attr_group_name != null">
                attr_group_name = #{attr_group_name},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="descript != null">
                descript = #{descript},
            </if>
            <if test="catelog_id != null">
                catelog_id = #{catelog_id},
            </if>
        </set>
        where attr_group_id = #{attr_group_id}
    </update>


    <select id="pageQueryRuleData" resultType="com.doggy.entity.Rule">
        select * from DoggyPets.rule
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(name,'')
                , IFNULL(type,''))
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
        order by create_time desc
        limit #{start},#{rows}
    </select>
    <select id="pageQueryRuleCount" resultType="java.lang.Integer">
        select count(1) from DoggyPets.rule
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(name,'')
                , IFNULL(type,''))
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
    </select>

    <select id="queryRuleAll" resultType="com.doggy.entity.Rule">
        select * from DoggyPets.rule
        <where>
            1=1
            <if test="receive_ended_at !=null">
                and  receive_ended_at &gt;=  #{receive_ended_at}
            </if>

        </where>
    </select>

    <select id="queryPms_attr_group" resultType="com.doggy.entity.EManage.Pms_attr_group">
        select * from DoggyPets.pms_attr_group
        <where>
            1=1
            <if test="data.catelog_id !=null">
                and  catelog_id = #{data.catelog_id}
            </if>
        </where>
        limit #{start},#{rows}
    </select>
    <select id="pageQueryPms_attr_groupCount"  resultType="java.lang.Integer">
        select count(1) from DoggyPets.pms_attr_group
        <where>
            1=1
            <if test="data.catelog_id !=null">
                and  catelog_id = #{data.catelog_id}
            </if>
        </where>
    </select>




    <select id="queryPms_attr" resultType="com.doggy.entity.EManage.Pms_attr">
        select * from DoggyPets.pms_attr

          limit #{start},#{rows}
    </select>
    <select id="pageQueryPms_attr_Count"  resultType="java.lang.Integer">
        select count(1) from DoggyPets.pms_attr
    </select>
    <select id="queryPms_attrByids" resultType="com.doggy.entity.EManage.Pms_attr">
        select * from DoggyPets.pms_attr
        where attr_id in
        <foreach collection="list" item="id" index="index"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
