<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doggy.mapper.SysCouponMapper">

    <insert id="insertRule">
        insert into DoggyPets.rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="receive_started_at != null">
                receive_started_at,
            </if>
            <if test="receive_ended_at != null">
                receive_ended_at,
            </if>
            <if test="use_started_at != null">
                use_started_at,
            </if>
            <if test="use_ended_at != null">
                use_ended_at,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="threshold != null">
                threshold,
            </if>
            <if test="receive_count != null">
                receive_count,
            </if>
            <if test="use_range != null">
                use_range,
            </if>
            <if test="goods_list != null">
                goods_list,
            </if>
            <if test="discount != null">
                discount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="receive_started_at != null">
                #{receive_started_at},
            </if>
            <if test="receive_ended_at != null">
                #{receive_ended_at},
            </if>
            <if test="use_started_at != null">
                #{use_started_at},
            </if>
            <if test="use_ended_at != null">
                #{use_ended_at},
            </if>
            <if test="amount != null">
                #{amount},
            </if>
            <if test="threshold != null">
                #{threshold},
            </if>
            <if test="receive_count != null">
                #{receive_count},
            </if>
            <if test="use_range != null">
                #{use_range},
            </if>
            <if test="goods_list != null">
                #{goods_list},
            </if>
            <if test="discount != null">
                #{discount},
            </if>
        </trim>
    </insert>
    <insert id="insertCouponBatch">
        insert into DoggyPets.coupon_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rule_id != null">
                rule_id,
            </if>
            <if test="total_count != null">
                total_count,
            </if>
            <if test="assign_count != null">
                assign_count,
            </if>
            <if test="used_count != null">
                used_count,
            </if>
            <if test="batch_name != null">
                batch_name,
            </if>
            <if test="coupon_name != null">
                coupon_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rule_id != null">
                #{rule_id},
            </if>
            <if test="total_count != null">
                #{total_count},
            </if>
            <if test="assign_count != null">
                #{assign_count},
            </if>
            <if test="used_count != null">
                #{used_count},
            </if>
            <if test="batch_name != null">
                #{batch_name},
            </if>
            <if test="coupon_name != null">
                #{coupon_name},
            </if>
        </trim>

    </insert>
    <insert id="insertCoupon">
        insert into DoggyPets.coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customer_id != null">
                customer_id,
            </if>
            <if test="batch_id != null">
                batch_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="order_id != null">
                order_id,
            </if>
            <if test="received_time != null">
                received_time,
            </if>

            <if test="used_time != null">
                used_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customer_id != null">
                #{customer_id},
            </if>
            <if test="batch_id != null">
                #{batch_id},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="order_id != null">
                #{order_id},
            </if>
            <if test="received_time != null">
                #{received_time},
            </if>

            <if test="used_time != null">
                #{used_time},
            </if>
        </trim>


    </insert>

    <delete id="deleteCoupons">
       delete from DoggyPets.coupon
        <where>
            1=1
            <if test="coupon_id !=null">
               and coupon_id = #{coupon_id}
            </if>
            <if test="batch_id !=null">
                and batch_id = #{batch_id}
            </if>
        </where>
    </delete>

    <delete id="deleteCouponsBatch">
        delete from DoggyPets.coupon_batch where batch_id = #{batch_id}
    </delete>
    <delete id="deleteRule">
        delete from DoggyPets.rule where rule_id = #{rule_id}
    </delete>


    <select id="pageQuerycCouponData" resultType="com.doggy.entity.Coupon">
        select * from DoggyPets.coupon
        <where>
            1=1
            <if test="data.status !=null">
                and status = #{data.status}
            </if>
            <if test="keyWord !=null">
                and   concat(
                IFNULL(customer_id,'')
                , IFNULL(status,'')
                , IFNULL(order_id,'') )
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
        order by validate_time asc
        limit #{start},#{rows}
    </select>
    <select id="pageQueryCouponCount" resultType="java.lang.Integer">
        select count(1) from DoggyPets.coupon
        <where>
            1=1
            <if test="data.status !=null">
                and status = #{data.status}
            </if>
            <if test="keyWord !=null">
                and   concat(
                IFNULL(customer_id,'')
                 , IFNULL(status,'')
                , IFNULL(order_id,''))
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
    </select>




    <select id="pageQueryCouponBatchData" resultType="com.doggy.entity.Coupon_batch">
        select * from DoggyPets.coupon_batch
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(batch_name,'')
                , IFNULL(coupon_name,'')
                , IFNULL(total_count,'')
                , IFNULL(total_count,'')
                , IFNULL(assign_count,'') )
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
        order by create_time desc
        limit #{start},#{rows}
    </select>
    <select id="pageQueryCouponBatchCount" resultType="java.lang.Integer">
        select count(1) from DoggyPets.coupon_batch
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(batch_name,'')
                , IFNULL(coupon_name,'')
                , IFNULL(total_count,'')
                , IFNULL(total_count,'')
                , IFNULL(assign_count,'') )
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
    </select>

    <update id="updateRule">
        update DoggyPets.rule
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="rule_content != null">
                rule_content = #{rule_content},
            </if>
        </set>
        where rule_id = #{rule_id}
    </update>
    <update id="updateCouponBatch">
        update DoggyPets.coupon_batch
        <set>
            <if test="rule_id != null">
                rule_id = #{rule_id},
            </if>
            <if test="total_count != null">
                total_count = #{total_count},
            </if>
            <if test="assign_count != null">
                assign_count = #{assign_count},
            </if>
            <if test="used_count != null">
                used_count = #{used_count},
            </if>
            <if test="batch_name != null">
                batch_name = #{batch_name},
            </if>
            <if test="coupon_name != null">
                coupon_name = #{coupon_name},
            </if>
        </set>
        where batch_id = #{batch_id}
    </update>
    <update id="updateCoupon">
        update DoggyPets.coupon
        <set>
            <if test="customer_id != null">
                customer_id = #{customer_id},
            </if>
            <if test="batch_id != null">
                batch_id = #{batch_id},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="order_id != null">
                order_id = #{order_id},
            </if>
            <if test="received_time != null">
                received_time = #{received_time},
            </if>
            <if test="used_time != null and used_time != 'null'">
                used_time = #{used_time},
            </if>
        </set>
        where coupon_id = #{coupon_id}
    </update>




    <update id="updateCouponPayment">
        update DoggyPets.coupon
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="order_id != null">
                order_id = #{order_id},
            </if>
            <if test="used_time != null">
                used_time = #{used_time},
            </if>
        </set>
        where customer_id = #{customer_id} and    batch_id = #{batch_id}
    </update>

    <select id="pageQueryRuleData" resultType="com.doggy.entity.Rule">
        select * from DoggyPets.rule
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(name,'')
                , IFNULL(type,''))
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
        order by create_time desc
        limit #{start},#{rows}
    </select>
    <select id="pageQueryRuleCount" resultType="java.lang.Integer">
        select count(1) from DoggyPets.rule
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(name,'')
                , IFNULL(type,''))
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
    </select>
    <select id="queryCoupon" resultType="com.doggy.entity.Coupon">
        select * from DoggyPets.coupon
        <where>
            1=1
            <if test="coupon_id !=null">
                and  coupon_id=#{coupon_id}
            </if>
            <if test="batch_id !=null">
                and  batch_id=#{batch_id}
            </if>
            <if test="customer_id !=null">
                and  customer_id=#{customer_id}
            </if>
        </where>
    </select>
    <select id="queryCouponBatch" resultType="com.doggy.entity.Coupon_batch">
        select * from DoggyPets.coupon_batch
        <where>
            1=1
            <if test="batch_id !=null">
                and  batch_id=#{batch_id}
            </if>
            <if test="rule_id !=null">
                and  rule_id=#{rule_id}
            </if>

            <if test="coupon_name !=null">
                and  coupon_name=#{coupon_name}
            </if>
        </where>
    </select>
    <select id="queryRule" resultType="com.doggy.entity.Rule">
        select * from DoggyPets.rule
        <where>
            1=1
            <if test="rule_id !=null">
                and  rule_id=#{rule_id}
            </if>
            <if test="name !=null">
                and  name=#{name}
            </if>
            <if test="receive_ended_at !=null">
                and  receive_ended_at &gt;=  #{receive_ended_at}
            </if>
            <if test="use_ended_at !=null">
                and  use_ended_at &gt;=  #{use_ended_at}
            </if>
        </where>

    </select>
    <select id="queryRuleAll" resultType="com.doggy.entity.Rule">
        select * from DoggyPets.rule
        <where>
            1=1
            <if test="receive_ended_at !=null">
                and  receive_ended_at &gt;=  #{receive_ended_at}
            </if>

        </where>
    </select>

    <select id="queryCouponCustomerMap" resultType="com.doggy.entity.Coupon">
        select * from DoggyPets.coupon
        <where>
            1=1
            <if test="data.status !=null">
                and  status =  #{data.status}
            </if>
            <if test="id !=null">
                and  customer_id =  #{id}
            </if>
        </where>
        limit #{start},#{rows}
    </select>
    <select id="querycCouponBatchMap" resultType="com.doggy.entity.Coupon_batch">
        select * from DoggyPets.coupon_batch
        <where>
            total_count &gt; assign_count and
            1=1
        </where>
        limit #{start},#{rows}
    </select>


    <select id="queryAllCouponCustomer" resultType="com.doggy.entity.Coupon">
        select * from DoggyPets.coupon
        <where>
            1=1
            <if test="customer_id !=null">
                and  customer_id =  #{customer_id}
            </if>
            <if test="status !=null">
                and  status =  #{status}
            </if>
        </where>
    </select>


</mapper>
