
<div  th:fragment="basePage"  xmlns:th="http://www.thymeleaf.org"  >
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet"  href="/static/layui/css/login.css" />
    <script type="text/javascript" th:href="@{/static/js/jquery-2.1.4.min.js}"  src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js" th:href="@{/static/layer/layer.js}"></script>
    <script src="/static/layui/layui.js" th:href="@{/static/layui/layui.js}"></script>
    <script type="text/javascript" src="/static/js/ajaxHandle.js" th:href="@{/static/js/ajaxHandle.js}" ></script>
    <script type="text/javascript" src="/static/js/requestUrl.js" th:href="@{/static/js/requestUrl.js}" ></script>

</div>

