<footer  th:fragment="footerPage"  xmlns:th="http://www.thymeleaf.org"  >
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:href="@{/static/js/jquery-2.1.4.min.js}"  src="/static/js/jquery-2.1.4.min.js"></script>
<!--    弹出层-->
    <script type="text/javascript" src="/static/layer/layer.js" th:href="@{/static/layer/layer.js}"></script>

    <script src="/static/layui/layui.js" th:href="@{/static/layui/layui.js}"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"  th:href="@{/static/css/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="/static/js/ajaxHandle.js" th:href="@{/static/js/ajaxHandle.js}" ></script>
    <script type="text/javascript" src="/static/js/requestUrl.js" th:href="@{/static/js/requestUrl.js}" ></script>
    <!-- metisMenu -->
    <script type="text/javascript" src="/static/metismenu/metisMenu.min.js"></script>

<!--    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>-->

    <script>

        $(function () {
            layui.use('element', function(){
                var element = layui.element;
                element.on('nav(backend_menu)', function(elem){
                  console.log(elem); //得到当前点击的DOM对象
                });



                 //根据页面传进来的ItemId设置菜单状态
                    // var url = window.location;
                    //获取Id对应的菜单
                    console.log("ItemId=" + ItemId);
                    if(ItemId==null){
                        return;
                    }
                    var element = $('#' + ItemId);
                    var n_list = ItemId.substring(0,ItemId.indexOf("_")+1);
                    n_list += '0'
                    var father = $('#' + n_list);
                    if (element.is(':empty')) {
                        return;
                    }else{
                        element.addClass('layui-this');
                        father.addClass('layui-nav-itemed');
                    }
              });

        });
    </script>
</footer>
