<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headerPage :: headerPage"></div>
<title>产品</title>
<style>
  img{
    height: 100px;
    width: auto;
  }
</style>
<body >
<div >
  <div >
    <div th:replace="fragments/headerSide :: headerSide"></div>
  </div>
  <div class="col col-lg-2" style="    background: white;">
    <div th:replace="fragments/sidebarPage :: sidebarPage"></div>
  </div>
  <div class="col col-lg-10" style="    background: white;">
    <div class="layui-card">
      <div class="layui-card-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb">
          <a lay-href="">产品</a>
          <a><cite>快递管理</cite></a>
        </div>
      </div>
      <div class="layui-card-body layui-fluid">

          <div class="layui-tab layui-tab-brief">
              <ul class="layui-tab-title">
                  <li class="layui-this">商品管理</li>
                  <li>商品小类</li>
              </ul>
              <div class="layui-tab-content">
                  <div class="layui-tab-item layui-show">
                      <div class="layui-form  layui-form-pane layui-card-header layuiadmin-card-header-auto">
                          <div class="layui-form-item">
                              <div class="layui-inline">
                                  <input type="text" name="keyword" placeholder="input keyword to query" autocomplete="off" class="layui-input">
                              </div>
                              <div class="layui-inline">
                                  <button class="layui-btn  btn-batch" lay-submit lay-filter="searchBtn">
                                      <i class="layui-icon layui-icon-search "></i>
                                  </button>
                              </div>
                              <div class="layui-inline">
                                  <button class="layui-btn btn-batch layui-btn-danger " data-type="batchdel">批量删除</button>
                                  <button class="layui-btn  btn-batch" data-type="add">新增</button>
                              </div>
                          </div>
                      </div>
                      <table id="tableview" lay-filter="tableview"></table>
                      <script type="text/html" id="toolbar">
                          <div class="layui-btn-container"></div>
                      </script>
                      <script type="text/html" id="img_urlTpL">
                          <img  src="{{d.img_url}}"  />
                      </script>
                      <script type="text/html" id="goodListTpL">
                          <a  href="javascript:;"  onclick="getProductList('{{d.id}}' , '{{d.title}}' )" class="layui-table-link" >{{ d.title }}</a>
                      </script>
                      <script type="text/html" id="switchTpl">
                          <input type="checkbox" name="flag" value="{{d.id}}" lay-skin="switch" lay-text="上新|下架" lay-filter="switchDemo" {{ d.flag == 1 ? 'checked' : '' }} >
                      </script>
                      <script type="text/html" id="tableTool">
                          <!--            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
                          <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                      </script>
                  </div>
                  <div class="layui-tab-item">


                      <div class="layui-card" style="    padding-bottom: 200px;">
                          <div class="layui-form layui-card-header " id="category_title">
                              <div class="layui-form-item">
                                  <!--                <div class="layui-inline">-->
                                  <!--                    <input type="text" name="keyword" placeholder="input keyword to query" autocomplete="off" class="layui-input">-->
                                  <!--                </div>-->
                                  <!--                <div class="layui-inline">-->
                                  <!--                    <button class="layui-btn  btn-batch" lay-submit lay-filter="searchBtn">-->
                                  <!--                        <i class="layui-icon layui-icon-search "></i>-->
                                  <!--                    </button>-->
                                  <!--                </div>-->

                              </div>
                          </div>
                          <div class="layui-card-body layui-fluid">
                              <table id="tableviewProduct" lay-filter="tableviewProduct"></table>
                              <script type="text/html" id="toolbarProduct">
                                  <div class="layui-btn-container"></div>
                              </script>
                              <script type="text/html" id="goodTpLProduct">
                                  <img  src="{{d.img_url}}"  />
                              </script>
                              <script type="text/html" id="switchTplProduct">
                                  <input type="checkbox" name="flag" value="{{d.id}}" lay-skin="switch" lay-text="上新|下架" lay-filter="switchDemoGood" {{ d.flag == 1 ? 'checked' : '' }} >
                              </script>
                              <script type="text/html" id="tableToolProduct">
                                  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                                  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                                  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                              </script>
                          </div>
                      </div>

                  </div>
              </div>
          </div>



      </div>
    </div>




  </div>
</div>


</body>
<div th:replace="fragments/footerPage :: footerPage"></div>

<script type="text/javascript">
  var ItemId = "Item2_1"
  var table = null
  var form = null
  var util = null
  var active_good = null
  /*<![CDATA[*/
  layui.use(['table','util'], function(){
     table = layui.table
     form = layui.form
     util = layui.util


    form.on('submit(searchBtn)', function(data){
      var field = data.field;
      table.reload('tableview', {
        page:1
        ,where: field
      });
    });

    table.render({
      elem: '#tableview'
      ,url: '' //模拟接口
      ,toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
      ,defaultToolbar: ['filter', 'exports', 'print']
      ,title: '产品列表'
      ,cols: [
        [
          {type: 'checkbox', fixed: 'left'}
          ,{field: 'id', width: 80, title: 'id',  align: 'center', sort: true}
          ,{field: 'title', title: '名称', align: 'center',  minWidth: 100}
          ,{field: 'img_url', title: '侧边图片',  align: 'center', minWidth: 100, sort: true,templet: '#img_urlTpL'}
          ,{field: 'description', title: '描述', align: 'center', width:150, sort: true}
          ,{field: 'order_id', title: '顺序',  align: 'center', minWidth: 100,  edit: 'text', sort: true}
          ,{field: 'flag', title: '是否上架',  align: 'center', minWidth: 130, sort: true,templet: '#switchTpl'}
          ,{field: 'goodsList', title: '大类下面的商品', align: 'center',  minWidth: 200,templet: '#goodListTpL'}
          ,{field: 'create_time', title: '创建时间',  align: 'center', minWidth: 200, sort: true}
          ,{field: 'modify_time', title: '最新修改时间', align: 'center',  minWidth: 200, sort: true}
          ,{title: '操作', minWidth: 200, align: 'center', fixed: 'right', toolbar: '#tableTool'}
        ]
      ]
      ,page: true
      ,limit: 30
      ,limits: [10, 20, 30, 50, 100,150,200]
      ,text: 'error'
    });
    //监听单元格编辑
    table.on('edit(tableview)', function(obj){
      var value = obj.value //得到修改后的值
              ,data = obj.data //得到所在行所有键值
              ,field = obj.field; //得到字段
      layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改值为：'+ util.escape(value));
      var jsonData={};
      jsonData.id = data.id
      jsonData.order_id = util.escape(value)
      var params = JSON.stringify(jsonData);
      var url = "/web/product/category/update"
      ajaxPost(url, params, function (data) {
        layer.msg(data.msg, {time: 3000, icon: 1});
        layui.table.reload('tableview'); //重载表格
      });
    });
    //监听switch操作
    form.on('switch(switchDemo)', function(obj){
      let id = this.value
      let flag = obj.elem.checked === true ? 1:0
      let info = obj.elem.checked === true ? "确定下架？小程序商品列表会隐藏该分类已经下面的小类" : "确定上新？将会显示在小程序商品列表中"
      layer.confirm(info, function(index){
        var jsonData={};
        jsonData.id = id
        jsonData.flag = flag
        var params = JSON.stringify(jsonData);
        var url = "/web/product/category/update"
        ajaxPost(url, params, function (data) {
            layer.msg(data.msg, {time: 3000, icon: 1});
            layui.table.reload('tableview'); //重载表格
        });
        layer.close(index);
      });
    });

    table.on('tool(tableview)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function(value, index){
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            var ids=new Array(),jsonData={};
            ids.push(data.id);
            jsonData["ids"] = ids;
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            var url = "/web/product/category/deletes"
            ajaxPost(url, params, function (data) {
                layer.msg(data.msg, {time: 3000, icon: 1});
                layui.table.reload('tableview'); //重载表格
            });
            layer.close(index);
          });
        });
      }else if(obj.event === 'edit'){
        layer.open({
          type: 2
          ,area: ['500px', '400px']
          ,title: '编辑商品大类信息'
          ,shade: 0.6 //遮罩透明度
          ,maxmin: true //允许全屏最小化
          ,anim: 0 //0-6的动画形式，-1不开启
          ,content: 'product/addform/id/'+ data.id+"/type/edit"
          ,success: function(layero, index){
          }
          ,cancel: function(){
            layui.table.reload('tableview'); //重载表格
          }
          ,end : function(){
          }
        });
      }
    });


    var active = {
      add: function () {
        layer.open({
          type: 2
          ,area: ['500px', '400px']
          ,title: '新增商品大类信息'
          ,shade: 0.6 //遮罩透明度
          ,maxmin: true //允许全屏最小化
          ,anim: 0 //0-6的动画形式，-1不开启
          ,content: "product/addform/id/-1/type/add"
          ,success: function(layero, index){
          }
          ,cancel: function(){
            layui.table.reload('tableview'); //重载表格
          }
          ,end : function(){
          }
        });
      },
      batchdel: function () {
        var checkStatus = table.checkStatus('tableview')
                , checkData = checkStatus.data;
        var ids = new Array(), jsonData = {};
        if (checkData.length === 0) {
          return layer.msg('Please select data');
        } else {
          for (var i = 0; i < checkData.length; i++) {
            ids.push(checkData[i].id);
          }
          jsonData["ids"] = ids;
        }
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function (value, index) {
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            layer.close(index);
            jsonData["code"] = value;
            var url = "/web/product/category/deletes"
            var params = JSON.stringify(jsonData);
            ajaxPost(url, params, function (data) {
              layer.msg(data.msg, {time: 3000, icon: 1});
              layui.table.reload('tableview'); //重载表格
            });
          });
        });
      }
    }

    $('.layui-btn.btn-batch').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });




    //TODO =========================Goods tableviewProduct=========================
    form.on('switch(switchDemoGood)', function(obj){
      let id = this.value
      let flag = obj.elem.checked === true ? 1:0
      let info = obj.elem.checked === true ? "确定下架？小程序商品列表会隐藏该商品" : "确定上新？将会显示在小程序商品列表中"
      layer.confirm(info, function(index){
        var jsonData={};
        jsonData.id = id
        jsonData.flag = flag
        var params = JSON.stringify(jsonData);
        var url = "/web/product/goods/update/flag"
        ajaxPost(url, params, function (data) {
          layer.msg(data.msg, {time: 3000, icon: 1});
          layui.table.reload('tableviewProduct'); //重载表格
        });
        layer.close(index);
      });
    });


    table.on('tool(tableviewProduct)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function(value, index){
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            var ids=new Array(),jsonData={};
            ids.push(data.id);
            jsonData["ids"] = ids;
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            var url = "/web/product/goods/deletes"
            ajaxPost(url, params, function (data) {
              layer.msg(data.msg, {time: 3000, icon: 1});
              layui.table.reload('tableviewProduct'); //重载表格
            });
            layer.close(index);
          });
        });
      }else if(obj.event === 'edit'){
        layer.open({
          type: 2
          ,area: ['500px', '700px']
          ,title: '编辑商品大类信息'
          ,shade: 0.6 //遮罩透明度
          ,maxmin: true //允许全屏最小化
          ,anim: 0 //0-6的动画形式，-1不开启
          ,content: 'product/good/addform/id/'+ data.id+'/type/edit/cid/'+category_id
          ,success: function(layero, index){
          }
          ,cancel: function(){
            layui.table.reload('tableviewProduct'); //重载表格
          }
          ,end : function(){
          }
        });
      }
    });


       active_good = {
          add: function () {
              layer.open({
                  type: 2
                  ,area: ['700px', '700px']
                  ,title: '新增商品信息'
                  ,shade: 0.6 //遮罩透明度
                  ,maxmin: true //允许全屏最小化
                  ,anim: 0 //0-6的动画形式，-1不开启
                  ,content: 'product/good/addform/id/-1/type/add/cid/'+category_id
                  ,success: function(layero, index){
                  }
                  ,cancel: function(){
                      layui.table.reload('tableviewProduct'); //重载表格
                  }
                  ,end : function(){
                  }
              });
          },
          batchdel: function () {
              var checkStatus = table.checkStatus('tableviewProduct')
                  , checkData = checkStatus.data;
              var ids = new Array(), jsonData = {};
              if (checkData.length === 0) {
                  return layer.msg('Please select data');
              } else {
                  for (var i = 0; i < checkData.length; i++) {
                      ids.push(checkData[i].id);
                  }
                  jsonData["ids"] = ids;
              }
              layer.prompt({
                  formType: 1
                  ,title: '敏感操作，请验证密码'
              }, function (value, index) {
                  layer.close(index);
                  layer.confirm('确定删除?', function(index){
                      layer.close(index);
                      jsonData["code"] = value;
                      var url = "/web/product/goods/deletes"
                      var params = JSON.stringify(jsonData);
                      ajaxPost(url, params, function (data) {
                          layer.msg(data.msg, {time: 3000, icon: 1});
                          layui.table.reload('tableviewProduct'); //重载表格
                      });
                  });
              });
          }
      }


  })


  /*]]>*/

    var category_id = -1

    function reloadTable() {
        layui.table.reload('tableviewProduct'); //重载表格
    }

  function getProductList(id,name){
      category_id = id
      var str = "<div class=\"layui-inline\">\n" +
          "                <button class='layui-btn layui-btn-warm onclick='reloadTable()' >"+name+" </button>" +
          "                <button class=\"layui-btn btn-batch-goods layui-btn-danger \" data-type=\"batchdel\">批量删除</button>\n" +
          "                <button class=\"layui-btn  btn-batch-goods\" data-type=\"add\">新增</button>\n" +
          "      </div>"
      $("#category_title").html(str)
      $('.layui-btn.btn-batch-goods').on('click', function(){
          var type = $(this).data('type');
          active_good[type] ? active_good[type].call(this) : '';
      });
    console.info(id)
    console.info(name)
    table.render({
      elem: '#tableviewProduct'
      ,url: '/web/product/good/queryAll' //模拟接口
      ,where: { id: id}
      ,toolbar: '#toolbarProduct' //开启头部工具栏，并为其绑定左侧模板
      ,defaultToolbar: ['filter', 'exports', 'print']
      ,title: '商品列表'
      ,cols: [
        [
           {type: 'checkbox', fixed: 'left'}
          ,{field: 'id', width: 80, title: 'id',  align: 'center', sort: true}
          ,{field: 'title', title: '名称', align: 'center',  minWidth: 100}
          ,{field: 'category_id', title: '大类ID', align: 'center',  minWidth: 100}
          ,{field: 'img_url', title: '商品图片',  align: 'center', minWidth: 100, sort: true,templet: '#goodTpLProduct'}
          ,{field: 'description', title: '描述', align: 'center', width:150, sort: true}
          ,{field: 'specification', title: '规格', align: 'center', width:150, sort: true}
          ,{field: 'label_id', title: '标签',  align: 'center', minWidth: 100,  edit: 'text', sort: true}
          ,{field: 'flag', title: '是否上架',  align: 'center', minWidth: 130, sort: true,templet: '#switchTplProduct'}
          ,{field: 'price', title: '价格', align: 'center',  minWidth: 150}
          ,{field: 'original_price', title: '原价格', align: 'center',  minWidth: 150}
          ,{field: 'total_number', title: '商品总量', align: 'center',  minWidth: 150}
          ,{field: 'sale_number', title: '销售总量', align: 'center',  minWidth: 150}
          ,{field: 'create_time', title: '创建时间',  align: 'center', minWidth: 200, sort: true}
          ,{field: 'modify_time', title: '最新修改时间', align: 'center',  minWidth: 200, sort: true}
          ,{title: '操作', minWidth: 200, align: 'center', fixed: 'right', toolbar: '#tableToolProduct'}
        ]
      ]
      ,page: true
      ,limit: 30
      ,limits: [10, 20, 30, 50, 100,150,200]
      ,text: 'error'
    });
  }





</script>
</html>