<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>绑定成功</title>
</head>
<body>
请关闭此页面
</body>
<script language="javascript">
    var i = 3;
    // function clock(){
    //     i = i - 1;
    //     document.title="本窗口将在" + i + "秒后自动关闭!";
    //     if (i > 0) {
    //         setTimeout("clock();",1000);
    //     } else {
    //         var customWindow = window.open('', '_blank', '');
    //         customWindow.close();
    //     }
    // }
    // clock();
</script>
</html>