<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headerPage :: headerPage"></div>
<title>定时任务管理</title>
<style>
  img{
    height: 100px;
    width: auto;
  }
</style>
<body >
<div >
  <div >
    <div th:replace="fragments/headerSide :: headerSide"></div>
  </div>
  <div class="col col-lg-2"  style="    background:  #393d4a; padding:0">
    <div th:replace="fragments/sidebarPage :: sidebarPage"></div>
  </div>
  <div class="col col-lg-10">
    <div class="layui-card">
      <div class="layui-card-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb">
          <a lay-href="">监控</a>
          <a><cite>定时任务管理</cite></a>
        </div>
      </div>
      <div class="layui-card-body">
        <div class="layui-fluid">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto"
               lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item">
              <div class="layui-inline">
                <input type="text" name="keyword" placeholder="模糊搜索" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="searchBtn">
                  <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
              </div>

            </div>
          </div>

          <table id="tableview" lay-filter="tableview"></table>
          <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
              <button class="layui-btn  layui-btn-danger btn-batch" data-type="batchdel">批量删除</button>
            </div>
          </script>

<!--          <script type="text/html" id="genderTpl">-->
<!--            {{#  if(d.gender === 0){ }}-->
<!--            <span style="color: #F581B1;">女</span>-->
<!--            {{#  } else { }}-->
<!--            <span style="color: #4190e5;">男</span>-->
<!--            {{#  } }}-->
<!--          </script>-->

          <script type="text/html" id="tableTool">
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="reload">重新执行</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>

        </div>
      </div>
    </div>



  </div>
</div>


</body>
<div th:replace="fragments/footerPage :: footerPage"></div>

<script type="text/javascript">
  var ItemId = "Item1_2";

  /*<![CDATA[*/
  layui.use(['table'], function(){
    var table = layui.table;
    var form = layui.form;
    form.on('submit(searchBtn)', function(data){
      var field = data.field;
      table.reload('tableview', {
        page:1
        ,where: field
      });
    });



    table.render({
      elem: '#tableview'
      ,url: schedule_queryAll //模拟接口
      ,toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
      ,defaultToolbar: ['filter', 'exports', 'print']
      ,title: '产品列表'
      ,cols: [
        [
          {type: 'checkbox', fixed: 'left'}
          ,{field: 'id', width: 80, title: 'id',  align: 'center', sort: true}
          ,{field: 'name', title: '任务名称', align: 'center', width:150}
          ,{field: 'desc_txt', title: '任务描述', align: 'center',  minWidth: 100}
          ,{field: 'cron', title: '规则',  align: 'center', minWidth: 100}
          ,{field: 'status', title: '任务状态', align: 'center',  minWidth: 150}
          ,{field: 'deleted', title: '开关',  align: 'center', minWidth: 200}
          ,{field: 'exe_class', title: '执行指定类',  align: 'center', minWidth: 130}
          ,{field: 'params', title: '任务参数', align: 'center',  minWidth: 200}
          ,{field: 'Status', title: 'Status', align: 'center',  minWidth: 200}
          ,{field: 'create_time', title: '创建时间',  align: 'center', minWidth: 200, sort: true}
          ,{field: 'update_time', title: '更新时间', align: 'center',  minWidth: 200, sort: true}
          ,{title: '操作', minWidth: 200, align: 'center', fixed: 'right', toolbar: '#tableTool'}
        ]
      ]
      ,page: true
      ,limit: 30
      ,limits: [10, 20, 30, 50, 100,150,200]
      ,text: 'error'
    });
    table.on('tool(tableview)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function(value, index){
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            var ids=new Array(),jsonData={};
            ids.push(data.id);
            jsonData["ids"] = ids;
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            ajaxPost(schedule_delete, params, function (data) {
              layer.msg(data.msg, {time: 3000, icon: 1});
              layui.table.reload('tableview'); //重载表格
            });
          });
        });
      }
     else if(obj.event === 'reload'){
        var jsonData={};
        jsonData.id = data.id;
        var params = JSON.stringify(jsonData);
        ajaxPost(schedule_reload, params, function (data) {
          layer.msg(data.msg, {time: 3000, icon: 1});
          layui.table.reload('tableview'); //重载表格
        });
      }
    });


    var active = {
      batchdel: function () {
        var checkStatus = table.checkStatus('tableview')
                , checkData = checkStatus.data;
        var ids = new Array(), jsonData = {};
        if (checkData.length === 0) {
          return layer.msg('Please select data');
        } else {
          for (var i = 0; i < checkData.length; i++) {
            ids.push(checkData[i].id);
          }
          jsonData["ids"] = ids;
        }
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function (value, index) {
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            layer.close(index);
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            ajaxPost(schedule_delete, params, function (data) {
              layer.msg(data.msg, {time: 3000, icon: 1});
              layui.table.reload('tableview'); //重载表格
            });
          });
        });
      }
    }

    $('.layui-btn.btn-batch').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  })
  /*]]>*/



</script>
</html>