<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headerPage :: headerPage"></div>
<title>评论管理</title>
<style>
  img{
    height: 100px;
    width: auto;
  }
</style>
<body >
<div >
  <div >
    <div th:replace="fragments/headerSide :: headerSide"></div>
  </div>
  <div class="col col-lg-2">
    <div th:replace="fragments/sidebarPage :: sidebarPage"></div>
  </div>
  <div class="col col-lg-10">
    <div class="layui-card">
      <div class="layui-card-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb">
          <a lay-href="">产品</a>
          <a><cite>评论管理</cite></a>
        </div>
      </div>
      <div class="layui-card-body">
          <div class="layui-fluid">
              <div class="layui-form  layuiadmin-card-header-auto">
                  <div class="layui-form-item">
                      <div class="layui-inline">
                          <input type="text" name="keyword" placeholder="模糊查询" autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-inline">
                          <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="searchBtn">
                              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                          </button>
                      </div>
                      <div class="layui-inline">
                          <button class="layui-btn btn-batch layui-btn-danger " data-type="batchdel">批量删除</button>
                          <button class="layui-btn btn-batch" data-type="add">新增</button>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <div class="layui-input-block"   >
                          <input type="radio" name="key" lay-filter="radioKey"  value="-1" title="全部评论" checked>
                          <input type="radio" name="key" lay-filter="radioKey"  value="4" title="好评">
                          <input type="radio" name="key" lay-filter="radioKey"  value="3" title="中评">
                          <input type="radio" name="key" lay-filter="radioKey" value="2" title="差评">
                      </div>


                  </div>
              </div>

              <table id="tableview" lay-filter="tableview"></table>
              <script type="text/html" id="toolbar">
                  <div class="layui-btn-container"></div>
              </script>

              <script type="text/html" id="checkOrderDetail">
                  <a  href="javascript:;"  onclick="checkOrderDetail('{{d.order_id}}' ,'{{d.order_sn}}'  )" class="layui-table-link" >{{ d.order_sn }}</a>
              </script>
              <script type="text/html" id="checkCustomer">
                  <a  href="javascript:;"  onclick="checkCustomer('{{d.customer_id}}'  )" class="layui-table-link" >{{ d.customer_id }}</a>
              </script>
              <script type="text/html" id="rateLabel">
                  {{#  if(d.rate <= 2.0){ }}
                  <span style="color: #fc2712;">{{d.rate}}</span>
                  {{#  } else if(d.rate > 2.0 && d.rate <4){ }}
                  <span style="color: #ff8318;">{{d.rate}}</span>
                  {{#  } else { }}
                  <span style="color: #43892a;">{{d.rate}}</span>
                  {{#  } }}
              </script>

              <script type="text/html" id="tableTool">
                  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">回复</a>
                  <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
                  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
              </script>

          </div>
      </div>

    </div>
  </div>



  </div>
</div>


</body>
<div th:replace="fragments/footerPage :: footerPage"></div>

<script type="text/javascript">
  var ItemId = "Item2_4";


  var rate = -1
  /*<![CDATA[*/
  layui.use(['table','layer'], function(){
    var table = layui.table;
    var form = layui.form;
    form.on('submit(searchBtn)', function(data){
      var field = data.field;
        field.rate = rate
      table.reload('tableview', {
        page:1
        ,where: field
      });
    });

      //触发radio单选
      form.on('radio(radioKey)', function(data){
          var jsonData={}
          rate = data.value
          jsonData.rate = rate
          table.reload('tableview', {
              page:1
              ,where: jsonData
          });
      });


      table.render({
           elem: '#tableview'
          ,url: comment_queryAll //模拟接口
          ,toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
          ,defaultToolbar: ['filter', 'exports', 'print']
          ,title: '评论管理'
          ,where:{
              "rate":rate,
          }
          ,cols: [
            [
                 {type: 'checkbox', fixed: 'left'}
                ,{field: 'comment_id', width: 100, title: 'id',  align: 'center', sort: true}
                ,{field: 'good_id', title: '商品id', align: 'center',  minWidth: 130}
                ,{field: 'content', title: '评论内容',  align: 'center', minWidth: 200, sort: true}
                ,{field: 'customer_id', title: '客户id', align: 'center', width:130, sort: true ,templet: '#checkCustomer'}
                ,{field: 'order_detail_id', title: '订单详细id',  align: 'center', minWidth: 130, sort: true,templet: '#checkOrderDetail'}
                ,{field: 'fid', title: '根评论', align: 'center',  minWidth: 80, sort: true}
                ,{field: 'rate', title: '评分', align: 'center',  minWidth: 80, sort: true,templet: '#rateLabel'}
              ,{field: 'create_time', title: '评论时间', align: 'center',  minWidth: 200, sort: true}
              ,{title: '操作', minWidth: 200, align: 'center', fixed: 'right', toolbar: '#tableTool'}
            ]
          ]
          ,page: true
          ,limit: 30
          ,limits: [10, 20, 30, 50, 100,150,200]
          ,text: '暂无数据'
    });




    table.on('tool(tableview)', function(obj){
      var data = obj.data;
      var id = data.order_id
      if(obj.event === 'del'){
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function(value, index){
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            var ids=new Array(),jsonData={};
            ids.push(id);
            jsonData["ids"] = ids;
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            ajaxPost(comment_delete, params, function (data) {
                layer.msg(data.msg, {time: 3000, icon: 1});
                layui.table.reload('tableview'); //重载表格
            });
            layer.close(index);
          });
        });
      }else  if(obj.event === 'edit'){
          layer.open({
              type: 2
              ,area: ['50%', '80%']
              ,title: '订单【'+data.order_sn+'】详情'
              ,shade: 0.6 //遮罩透明度
              ,maxmin: true //允许全屏最小化
              ,anim: 0 //0-6的动画形式，-1不开启
              ,content: 'order/addform?order_id='+id+'&type=edit'
              ,success: function(layero, index){
              }
              ,cancel: function(){
                  layui.table.reload('tableview'); //重载表格
              }
              ,end : function(){
              }
          });

      } else  if(obj.event === 'detail'){
          layer.open({
              type: 2
              ,area: ['50%', '80%']
              ,title: '订单【'+data.order_sn+'】详情'
              ,shade: 0.6 //遮罩透明度
              ,maxmin: true //允许全屏最小化
              ,anim: 0 //0-6的动画形式，-1不开启
              ,content: order_master_form_view+'?order_id='+id+'&type=view'
          });

      }
    });


    var active = {
      batchdel: function () {
        var checkStatus = table.checkStatus('tableview')
                , checkData = checkStatus.data;
        var ids = new Array(), jsonData = {};
        if (checkData.length === 0) {
          return layer.msg('Please select data');
        } else {
          for (var i = 0; i < checkData.length; i++) {
            ids.push(checkData[i].id);
          }
          jsonData["ids"] = ids;
        }
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function (value, index) {
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            layer.close(index);
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            ajaxPost(comment_delete, params, function (data) {
                layer.msg(data.msg, {time: 3000, icon: 1});
                layui.table.reload('tableview'); //重载表格
            });
          });
        });
      }
    }

    $('.layui-btn.btn-batch').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  })
  /*]]>*/
  function checkCustomer(customer_id){
      layer.open({
          type: 2
          ,area: ['50%', '50%']
          ,title: '用户【'+customer_id+'】详情'
          ,shade: 0.6 //遮罩透明度
          ,maxmin: true //允许全屏最小化
          ,anim: 0 //0-6的动画形式，-1不开启
          ,content: user_form_view+'?customer_id='+customer_id+'&type=view'
      });
  }

  function checkOrderDetail(order_id,order_sn){
      layer.open({
          type: 2
          ,area: ['90%', '80%']
          ,title: '订单【'+order_sn+'】详情'
          ,shade: 0.6 //遮罩透明度
          ,maxmin: true //允许全屏最小化
          ,anim: 0 //0-6的动画形式，-1不开启
          ,content:order_detail_form+ '?order_id='+order_id+'&type=edit'
      });
  }

</script>
</html>