<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headerPage :: headerPage"></div>
<title>用户地址管理</title>
<style>
  img{
    height: 100px;
    width: auto;
  }
</style>
<body >
<div >
  <div >
    <div th:replace="fragments/headerSide :: headerSide"></div>
  </div>
  <div class="col col-lg-2">
    <div th:replace="fragments/sidebarPage :: sidebarPage"></div>
  </div>
  <div class="col col-lg-10">
    <div class="layui-card">
      <div class="layui-card-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb">
          <a lay-href="">用户管理</a>
          <a><cite>所有用户地址</cite></a>
        </div>
      </div>
      <div class="layui-card-body">
          <div class="layui-fluid">
              <div class="layui-form  layuiadmin-card-header-auto">
                  <div class="layui-form-item">
                      <div class="layui-inline">
                          <input type="text" name="keyword" placeholder="模糊查询" autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-inline">
                          <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="searchBtn">
                              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                          </button>
                      </div>
                      <div class="layui-inline">
                          <button class="layui-btn btn-batch layui-btn-danger " data-type="batchdel">批量删除</button>
                      </div>
                  </div>
              </div>

              <table id="tableview" lay-filter="tableview"></table>
              <script type="text/html" id="toolbar">
                  <div class="layui-btn-container"></div>
              </script>
              <script type="text/html" id="checkCustomer">
                  <a  href="javascript:;"  onclick="checkCustomer('{{d.customer_id}}'  )" class="layui-table-link" >{{ d.customer_id }}</a>
              </script>

              <script type="text/html" id="is_defaultLabel">
                  <input type="checkbox" name="is_default" value="{{d.customer_addr_id}}" lay-skin="switch" lay-text="非默认|默认地址" lay-filter="switchDemo" {{ d.is_default == 0 ? 'checked' : '' }} >
              </script>
<!--              <script type="text/html" id="is_defaultLabel">-->
<!--                  {{#  if(d.is_default === 0){ }}-->
<!--                  <span style="color: #F581B1;">默认地址</span>-->
<!--                  {{#  } else { }}-->
<!--                  <span style="color: #4190e5;">非默认地址</span>-->
<!--                  {{#  } }}-->
<!--              </script>-->

              <script type="text/html" id="tableTool">
                  <a class="layui-btn layui-btn-xs" lay-event="edit">更新</a>
                  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
              </script>

          </div>
      </div>

    </div>
  </div>



  </div>
</div>


</body>
<div th:replace="fragments/footerPage :: footerPage"></div>

<script type="text/javascript">
  var ItemId = "Item4_2";


  /*<![CDATA[*/
  layui.use(['table','layer'], function(){
    var table = layui.table;
    var form = layui.form;
    form.on('submit(searchBtn)', function(data){
      var field = data.field;
      table.reload('tableview', {
        page:1
        ,where: field
      });
    });


      table.render({
           elem: '#tableview'
          ,url: user_address_queryAll //模拟接口
          ,toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
          ,defaultToolbar: ['filter', 'exports', 'print']
          ,title: '地址列表'
          ,cols: [
            [
                 {type: 'checkbox', fixed: 'left'}
                ,{field: 'customer_addr_id', width: 80, title: 'id',  align: 'center', sort: true}
                ,{field: 'customer_id', title: '用户id', align: 'center',  minWidth: 150,templet: '#checkCustomer'}
                ,{field: 'username', title: '用户名', align: 'center', width:150, sort: true }
                ,{field: 'phone', title: '联系电话',  align: 'center', minWidth: 130, sort: true}
                ,{field: 'zip', title: '邮政编号',  align: 'center', minWidth: 120, sort: true}
                ,{field: 'province', title: '省',  align: 'center', minWidth: 130, sort: true}
                ,{field: 'city', title: '市', align: 'center',  minWidth: 130, sort: true}
                ,{field: 'district', title: '区', align: 'center',  minWidth: 130, sort: true}
                ,{field: 'address', title: '地址', align: 'center',  minWidth: 200, sort: true}
                ,{field: 'is_default', title: '是否默认地址', align: 'center',  minWidth: 200, sort: true,templet: '#is_defaultLabel'}
              ,{field: 'modified_time', title: '最新修改时间', align: 'center',  minWidth: 200, sort: true}
              ,{title: '操作', minWidth: 150, align: 'center', fixed: 'right', toolbar: '#tableTool'}
            ]
          ]
          ,page: true
          ,limit: 30
          ,limits: [10, 20, 30, 50, 100,150,200]
          ,text: '暂无数据'
    });

      form.on('switch(switchDemo)', function(obj){
          let id = this.value
          let flag = obj.elem.checked === true ? 0:1
          let info = obj.elem.checked === true ? "确定修改为默认地址？" : "确定修改为非默认地址？"
          layer.confirm(info, function(index){
              var jsonData={};
              jsonData.customer_addr_id = id
              jsonData.is_default = flag
              var params = JSON.stringify(jsonData);
              var url = user_address_update_flag
              ajaxPost(url, params, function (data) {
                  layer.msg(data.msg, {time: 3000, icon: 1});
                  layui.table.reload('tableview'); //重载表格
              });
              layer.close(index);
          });
      });


    table.on('tool(tableview)', function(obj){
      var data = obj.data;
      var id = data.customer_addr_id
      if(obj.event === 'del'){
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function(value, index){
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            var ids=new Array(),jsonData={};
            ids.push(id);
            jsonData["ids"] = ids;
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            var url = user_address_delete
            ajaxPost(url, params, function (data) {
                layer.msg(data.msg, {time: 3000, icon: 1});
                layui.table.reload('tableview'); //重载表格
            });
            layer.close(index);
          });
        });
      }else  if(obj.event === 'edit'){
          layer.open({
              type: 2
              ,area: ['30%', '70%']
              ,title: '地址【'+id+'】详情'
              ,shade: 0.6 //遮罩透明度
              ,maxmin: true //允许全屏最小化
              ,anim: 0 //0-6的动画形式，-1不开启
              ,content: user_address_form_view+'?customer_addr_id='+id+'&type=edit'
              ,success: function(layero, index){
              }
              ,cancel: function(){
                  layui.table.reload('tableview'); //重载表格
              }
              ,end : function(){

              }
          });

      }
    });


    var active = {
      batchdel: function () {
        var checkStatus = table.checkStatus('tableview')
                , checkData = checkStatus.data;
        var ids = new Array(), jsonData = {};
        if (checkData.length === 0) {
          return layer.msg('Please select data');
        } else {
          for (var i = 0; i < checkData.length; i++) {
            ids.push(checkData[i].id);
          }
          jsonData["ids"] = ids;
        }
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function (value, index) {
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            layer.close(index);
            jsonData["code"] = value;
            var url = user_address_delete
            var params = JSON.stringify(jsonData);
            ajaxPost(url, params, function (data) {
                layer.msg(data.msg, {time: 3000, icon: 1});
                layui.table.reload('tableview'); //重载表格
            });
          });
        });
      }
    }

    $('.layui-btn.btn-batch').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  })
  /*]]>*/

  function checkCustomer(customer_id){
      layer.open({
          type: 2
          ,area: ['50%', '50%']
          ,title: '用户【'+customer_id+'】详情'
          ,shade: 0.6 //遮罩透明度
          ,maxmin: true //允许全屏最小化
          ,anim: 0 //0-6的动画形式，-1不开启
          ,content: user_form_view+'?customer_id='+customer_id+'&type=view'
      });
  }



</script>
</html>