<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headerPage :: headerPage"></div>
<title>Attribute</title>
<style>
  img{
    height: 100px;
    width: auto;
  }
</style>
<body >
<div >
    <div >
        <div th:replace="fragments/headerSide :: headerSide"></div>
    </div>
    <div class="col col-lg-2" style="background:  #393d4a; padding:0">
        <div th:replace="fragments/sidebarPage :: sidebarPage"></div>
    </div>
    <div class="col col-lg-10">
        <div class="layui-card">
            <div class="layui-card-header">
                <div class="layui-breadcrumb" lay-filter="breadcrumb">
                    <a lay-href="">Attribute Class</a>
                    <a><cite>Attribute Management</cite></a>
                </div>
            </div>
            <div class="layui-card-body">
                <div class="layui-tab layui-tab-brief" >
                    <ul class="layui-tab-title">
                        <li class="layui-this">Pms_attr_group</li>
                        <li onClick="window.location.href='/view/pms/pms_attr'" >Pms_attr</li>
                        <li onClick="window.location.href='/view/pms/pms_attr_group/relation''" > Pms_attr_attrgroup_relation </li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-fluid" style="width:100%;display:flex;justify-content: space-between;">
                                <div style="width:20%;    overflow: auto;">
                                    <div id="category_tree"></div>
                                </div>
                                <div style="width:80%; overflow: auto;">
                                    <div class="layui-form">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <input type="text" name="keyword" placeholder="模糊查询" autocomplete="off" class="layui-input">
                                            </div>
                                            <div class="layui-inline">
                                                <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="searchBtn">
                                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                </button>
                                            </div>
                                            <div class="layui-inline">
                                                <button class="layui-btn btn-batch layui-btn-danger  " data-type="batchdel">deletes</button>
                                                <button class="layui-btn btn-batch " data-type="add">add</button>
                                            </div>

                                        </div>
                                    </div>
                                    <table id="tableview" lay-filter="tableview"></table>
                                </div>



                                <script type="text/html" id="toolbarUtil">
                                    <div class="layui-btn-container" >
                                        <button class="layui-btn layui-btn-sm layui-btn-primary" >
                                            current category:
                                            <span id="current_title">none</span>
                                        </button>
                                    </div>
                                </script>
                                <script type="text/html" id="tableTool">
                                    <a class="layui-btn layui-btn-xs" lay-event="edit">edit</a>
                                    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">associations</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">delete</a>
                                </script>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>



</div>
</div>


</body>
<div th:replace="fragments/footerPage :: footerPage"></div>

<script type="text/javascript">
  var ItemId = "Item5_1";
  var catelog_id  = -1;

  var table
  var form
  /*<![CDATA[*/
  layui.use(['table','layer','element','element'], function(){
      table = layui.table;
      form = layui.form;
      var element = layui.element;
      var tree = layui.tree;

      form.on('submit(searchBtn)', function(data){
          var field = data.field;
          field.catelog_id = catelog_id
          table.reload('tableview', {
            page:1
            ,where: field
          });
    });



       loadTree()
      function loadTree(){
        ajaxGet("/web/attr/load/tree", "", function (data) {
           layer.msg(data.msg, {time: 3000, icon: 1});
           tree.render({
                elem: '#category_tree'
                ,data: data.data
                ,click: function(obj){
                    item = obj.data;
                    if(item.children.length === 0){
                        loadTable(item.id);
                        catelog_id = item.id
                        $("#current_title").html(item.title)
                    }
                    console.info(obj.data)
                }
           });
        });
      }

          function loadTable(id){
                  table.render({
                       elem: '#tableview'
                      ,url: '/web/attr/load/attr/group'
                      ,where:{ "catelog_id" : id}
                      ,defaultToolbar: ['filter', 'exports', 'print']
                      ,title: 'Pms_attr_group'
                      ,toolbar: '#toolbarUtil'
                      ,cols: [
                        [
                             {type: 'checkbox', fixed: 'left'}
                            ,{field: 'attr_group_id', width: 100, title: 'id',  align: 'center', sort: true}
                            ,{field: 'attr_group_name', title: 'name', align: 'center', width:130}
                            ,{field: 'icon', title: 'icon', align: 'center',  minWidth: 130}
                            ,{field: 'descript', title: 'description',  align: 'center', minWidth: 130}
                            ,{field: 'catelog_id', title: 'catelog id',  align: 'center', minWidth: 130, sort: true}
                            ,{title: 'operation', minWidth: 300, align: 'center', fixed: 'right', toolbar: '#tableTool'}
                        ]
                      ]
                      ,page: true
                      ,limit: 30
                      ,limits: [10, 20, 30, 50, 100,150,200]
                      ,text: 'No data'
                });
          }




    table.on('tool(tableview)', function(obj){
      var data = obj.data;
      var id = data.attr_group_id
      if(obj.event === 'del'){
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function(value, index){
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            var ids=new Array(),jsonData={};
            ids.push(id);
            jsonData["ids"] = ids;
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            ajaxPost(coupon_delete, params, function (data) {
                layer.msg(data.msg, {time: 3000, icon: 1});
                layui.table.reload('tableview'); //重载表格
            });
            layer.close(index);
          });
        });
      }else  if(obj.event === 'edit'){
          layer.open({
              type: 2
              ,area: ['50%', '80%']
              ,title: 'Group attr【'+id+'】\'s detail'
              ,shade: 0.6
              ,maxmin: true
              ,anim: 0
              ,content:  '/view/pms/pms_attr_group/addform'+'?attr_group_id='+id+'&catelog_id='+catelog_id+'&type=edit'
              ,success: function(layero, index){
              }
              ,cancel: function(){
                  layui.table.reload('tableview'); //重载表格
              }
              ,end : function(){
              }
          });
      }
    });


    var active = {
        add: function () {
            layer.open({
                type: 2
                ,area: ['500px', '400px']
                ,title: 'add'
                ,shade: 0.6
                ,maxmin: true
                ,anim: 0
                ,content: '/view/pms/pms_attr_group/addform'+'?attr_group_id=-1&catelog_id='+catelog_id+'&type=add'
                ,success: function(layero, index){
                    layui.table.reload('tableview'); //重载表格
                }
                ,cancel: function(){
                }
                ,end : function(){
                }
            });
        },
      batchdel: function () {
        var checkStatus = table.checkStatus('tableview')
                , checkData = checkStatus.data;
        var ids = new Array(), jsonData = {};
        if (checkData.length === 0) {
          return layer.msg('Please select data');
        } else {
          for (var i = 0; i < checkData.length; i++) {
            ids.push(checkData[i].coupon_id);
          }
          jsonData["ids"] = ids;
        }
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function (value, index) {
          layer.close(index);
          layer.confirm('确定删除?', function(index){
            layer.close(index);
            jsonData["code"] = value;
            var params = JSON.stringify(jsonData);
            ajaxPost(coupon_delete, params, function (data) {
                layer.msg(data.msg, {time: 3000, icon: 1});
                layui.table.reload('tableview'); //重载表格
            });
          });
        });
      }
    }

    $('.layui-btn.btn-batch').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  })
  /*]]>*/

  function checkCouponBatch(batch_id){
      layer.open({
          type: 2
          ,area: ['50%', '50%']
          ,title: '优惠券批次【'+batch_id+'】详情'
          ,shade: 0.6 //遮罩透明度
          ,maxmin: true //允许全屏最小化
          ,anim: 0 //0-6的动画形式，-1不开启
          ,content: coupon_batch_form_view+'?batch_id='+id+'&type=edit'
      });
  }
  function checkCustomer(customer_id){
      layer.open({
          type: 2
          ,area: ['50%', '50%']
          ,title: '用户【'+customer_id+'】详情'
          ,shade: 0.6 //遮罩透明度
          ,maxmin: true //允许全屏最小化
          ,anim: 0 //0-6的动画形式，-1不开启
          ,content: user_form_view+'?customer_id='+customer_id+'&type=view'
      });
  }

  function checkOrderDetail(order_id){
      layer.open({
          type: 2
          ,area: ['90%', '80%']
          ,title: '订单【'+order_id+'】详情'
          ,shade: 0.6 //遮罩透明度
          ,maxmin: true //允许全屏最小化
          ,anim: 0 //0-6的动画形式，-1不开启
          ,content:order_detail_form+ '?order_id='+order_id+'&type=edit'
      });
  }

</script>
</html>